# --- SISTEMA Y EDITORES ---
.DS_Store
Thumbs.db
.vscode/
.idea/
*.suo
*.sw?

# --- DEPENDENCIAS (Node & Rust) ---
node_modules/
pnpm-lock.yaml
target/
src-tauri/target/
src-tauri/gen/

# --- ARCHIVOS DE ENTORNO (Seguridad) ---
.env
.env.*
!.env.example
.env.docker

# --- COMPILACIÓN Y SALIDA (Frontend) ---
dist/
dist-ssr/
build/
out/
package-lock.json
yarn.lock

# --- DOCKER ---
.dockerignore
pgdata/
pg/

# --- LOGS Y DEBUG ---
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# --- TAURI ESPECÍFICO ---
# Ignora los binarios compilados pero mantén la configuración
src-tauri/binaries/
src-tauri/target/